#------local------

#dataset
*.json.gz
*.zip
dataset/
data/embedding/
data/ml-1m/
data/*.txt

#result log
result_log/

#recbole results
log/
log_tensorboard/
saved/
RecBole/
result/

#dataset download
Sequential-Recommendation-Datasets/

#test ipynb
test.ipynb

# scripts



#-----server------
config/ablation_wo.sh
# fast-transformers
fast_transformers/