#------local------

#dataset
*.json.gz
*.zip
dataset/
data/embedding/
data/ml-1m/
data/*.txt
data/*.inter

data/preprocess.py
data/preprocess.ipynb
data/Beauty_meta.csv
data/2014/*
data/5core
data/10core
data/ml-20m
scripts/*
Best/*
baseline/*
#result log
result_log/
wandb/
output_custom/Beauty/Test
output_custom/Beauty/Cluster_Attention
output_custom/Beauty/main_table/*.png
output_custom/Beauty/Cluster_Attention_Hybrid/Hybrid-K(16)-R(200)/*.png
output_custom/Beauty/Cluster_Attention_IntentCL/IntentCL-K(16)-R(200)/*.png
output_custom/Beauty/Cluster_Attention_IntentCL/IntentCL-K(16)-R(200)_V2/*.png
renew_log/
Description/Beauty/*
output/
Main_Table/
Ablation/

#recbole results
log/
log_tensorboard/
saved/
RecBole/
result/

#dataset download
Sequential-Recommendation-Datasets/

#test ipynb
test.ipynb

# scripts



#-----server------
config/ablation_wo.sh
# fast-transformers
fast_transformers/
/wandb/